name: Enable test in gamma branches
on:
  workflow_dispatch
jobs:
  toggle-test-in-gamma-branches:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        repository:
          - chinh-trieu-covergo/Reference
          - chinh-trieu-covergo/RequestManager
          - chinh-trieu-covergo/quotation
          - chinh-trieu-covergo/Products
          - chinh-trieu-covergo/Premium
          - chinh-trieu-covergo/Pricing
          - chinh-trieu-covergo/Policies
          - chinh-trieu-covergo/Notifications
          - chinh-trieu-covergo/FileSystem
          - chinh-trieu-covergo/Education
          - chinh-trieu-covergo/EntityDiary
          - chinh-trieu-covergo/EntityManagement
          - chinh-trieu-covergo/Finance
          - chinh-trieu-covergo/ProductBuilder
          - chinh-trieu-covergo/Templates
          - chinh-trieu-covergo/Transactions
          - chinh-trieu-covergo/Users
          - chinh-trieu-covergo/Scheduler
          - chinh-trieu-covergo/Scripts-js
          - chinh-trieu-covergo/Achievements
          - chinh-trieu-covergo/api-gateway
          - chinh-trieu-covergo/Auth
          - chinh-trieu-covergo/Cases
          - chinh-trieu-covergo/ClaimInvestigation
          - chinh-trieu-covergo/Claims
          - chinh-trieu-covergo/ChannelManagement
          - chinh-trieu-covergo/Claims3
    steps:     
      - name: Enable test in gamma branches for ${{ matrix.repository }}             
        env:
          token: ${{ secrets.REPO_ACCESS_TOKEN || secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN || secrets.GITHUB_TOKEN }}
        run: |
            REPO="${{ matrix.repository }}"
            echo "Repository from matrix: $REPO"
            SKIP_GAMMA_TEST=$(gh variable get SKIP_GAMMA_TEST --repo "$REPO")
            echo "SKIP_GAMMA_TEST: $SKIP_GAMMA_TEST"
            if [[ -z "$SKIP_GAMMA_TEST" ]]; then
              echo "SKIP_GAMMA_TEST not found, creating it with value=false"
              gh variable set SKIP_GAMMA_TEST --body "false" --repo "$REPO"              
            fi
            if [[ "$SKIP_GAMMA_TEST" != "true" ]]; then
              gh variable set SKIP_GAMMA_TEST --body "false" --repo "$REPO"
              echo "Toggled SKIP_GAMMA_TEST to false"
            fi
        
